h2= title + ' for accessing Affiliate Management application'
div
  form( method="post", action="/app/account/create")
    table
      tbody
        tr
          td
            span Account Name :
          td
            input( type="text", name="acct_name", id="acctName")
          td
            span Description :
          td
            input( type="text", name="acct_description", id="acctDescription")
          td
            span Website :
          td
            input( type="text", name="website", id="userWebsite")
        tr
          td
            span Admin Name :
          td
            input( type="text", name="name", id="userName")
          td
            span Email :
          td
            input( type="text", name="email", id="userEmail")
          td
            span Passwd :
          td
            input( type="password", name="passwd", id="userPasswd")
        tr
          td
            span User Authentication Policy :
          td
            <select name="identity"><option value="plain">basic</option><select>
          td
          td
          td
          td
            input( type="submit", value="Create Account")
        tr
          td
            a( href="/app/login") Login to existing account
          td
          td
          td
          td
          td
