h2= title
form( method="post")
  table
    tbody
      tr
        td
            span Name :
        td
            input(type="text", name="name", id="editAffiliateName")
        td
            span Website :
        td
            input(type="text", name="website", id="editAffiliateWebsite")
      tr
        td
            span Description :
        td
            textarea( name="description", rows=2, id="editAffiliateDescription")
        td
            span Created By :
        td
            input(type="text", name="created_by", id="editAffiliateCreatedBy")
      tr
        td
        td
            input(type="submit", value="Create New Affiliate")
