h2= title + ' to Affiliate Manager'
div
  form( method="post", action="/app/login")
    table
      tbody
        tr
          td
            span Email:
          td
            input( type="text", name="email", id="loginEmail")
        tr
          td
            span Password:
          td
            input( type="password", name="passwd", id="loginPasswd")
        tr
          td
          td
            input( type="submit", value="Log In")
        tr
          td
          td
            a(href="/app/account/create") Create a new account
